<div class="board">
  <h1><strong>From:</strong> <%= Time.now.beginning_of_week.to_date %> - <%= Time.now.end_of_week.to_date %></h1>
  <div class="board-table">
    <table class="table table-striped">
      <thead>
        <tr class="title">
          <th>Rank</th>
          <th>Name</th>
          <th>Minutes</th>
        </tr>
      </thead>
      <% @user_leaderboards.each_with_index do |leaderboard,i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= leaderboard.user.name %></td>
          <td><%= leaderboard.total_minutes %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><%= @user_leaderboards.map(&:total_minutes).sum %></td>
      </tr>
    </table>
  </div>
</div>
